In [23]:
#the band mewithoutyou is breaking-up after a 20-year run
#its time to pick a shirt to buy from their merch catalogue
#which is hard because they're all pretty cool 
#I have a short-list of three options 
#https://mewithoutyou.com/collections/apparel
#presenting mewithoutyou shirt selector: for the indecisive among us 

import pandas as pd 
import random 

#get the options 
Options = [1,2,3]
Shirts = ['Farewell Flowers','In the sea','Sea Creature Dragon']
Combined = list(zip(Options,Shirts))

#organize everything 
df = pd.DataFrame(Combined,columns=['Identifier','Shirt name'],index=[1,2,3])

#setup and run a choice simulation (1000 iterations)
counter=0
one=0
two=0
three=0

while counter < 1000: 
    choice = random.choice(Options) 
    if choice == 1:
        one+=1
    elif choice == 2:
        two+=1
    elif choice == 3:
        three+=1
    counter+=1
results = [one,two,three]
df['Simulation results']=results

#display the winner (the one with the highest number of course!)
#but you'll probably just keep running this until it comes up as the one you want... 
df.head()

   Identifier           Shirt name  Simulation results
1           1     Farewell Flowers                 357
2           2           In the sea                 323
3           3  Sea Creature Dragon                 320